*:focus {outline: none;-webkit-tap-highlight-color : transparent;}
a:focus {outline: none;-webkit-tap-highlight-color : transparent;}
#wrap {position: relative;margin: 0 auto;}
img {width: 100%;}
section {position: relative;width: 100%;height: 100%;max-height: 1200px;}

.section1 {
    background:#fff url("../IMG/BG_INTRO.JPG");
    background-repeat: repeat-y;
    background-size: cover;
    text-align: center;
    z-index: 999;
    position: absolute;
    animation: floatY 10s linear infinite;
    background-position: 0px 0px;
}

@keyframes floatY {
    0% { background-position: 0 0; }
    100% { background-position: 0 -1000px; }
}

.section1 .title {
    background: url("../IMG/TITLE_AI.PNG") no-repeat;
    background-size: cover;
    width: 34vw;
    height: 8vw;
    margin: 27% auto;
    animation:  zoomInOut .5s linear forwards;
    display: none;
}

@keyframes zoomInOut {
    0% {
        opacity: 1;
        transform: scale(.8);
    }
    100% {
        transform: scale(1.05);
    }
}

.intro_word_wrap {height: 100%;}
.intro_word img {width: 9vw;padding-top: 25%;padding-right: 10%;}

.intro_word {width: 18%;height: 26%;position: absolute;display: none;}

.intro_word.intro_1, .intro_word.intro_3 {animation: bounceFromUp 2s ease-in-out infinite;}
.intro_word.intro_2 {animation: bounceFromDown 2s ease-in-out infinite;}

.intro_1{top: 34%;left: 10%;}
.intro_2 {top: 34%;right: 10%;}
.intro_3 {bottom: 5%;left: 40%;}

.intro_1::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 90%;
    height: 100%;
    background: url("../IMG/INTRO_BG_1.PNG") no-repeat;
    background-size: contain;
}

.intro_2::before { 
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 90%;
    height: 100%;
    background: url("../IMG/INTRO_BG_2.PNG") no-repeat;
    background-size: contain;
}

.intro_3::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 90%;
    height: 100%;
    background: url("../IMG/INTRO_BG_3.PNG") no-repeat;
    background-size: contain;
}

.intro_1.moveTop {top: 15%;}
.intro_2.moveTop {top: 15%;}

@keyframes bounceFromUp {
    0%   { transform: translateY(0); opacity: 0;}
    50%  { transform: translateY(-30px); opacity: 1;}
    100% { transform: translateY(0); opacity: 1;}
}

@keyframes bounceFromDown {
    0%   { transform: translateY(0); opacity: 0; }
    50%  { transform: translateY(30px); opacity: 1;}
    100% { transform: translateY(0); opacity: 1;}
}

.section2 {
    background: url("../IMG/BG_STEP1.JPG") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
}
.section2 .title {
    background: url("../IMG/TITLE_VOCA.PNG") no-repeat;
    background-size: cover;
    width: 15vw;
    position: absolute;
    left: 6.5%;
    top: 5.5%;
    height: 4vw;
}

.section2 ul.nav {
    position: absolute;
    top: 4%;
    right: 7%;
    text-align: right;
    width: 28%;
}

ul.nav li.complate {
    background: url('../IMG/STEP_AI_BOX_ON.PNG') no-repeat;
    background-size: cover;
    width: 18%;
    padding-bottom: 18%;
}

ul.nav li.active {
    background: url('../IMG/STEP_AI_BOX_FOCUS.PNG') no-repeat;
    background-size: cover;
    width: 18%;
    padding-bottom: 18%;
}

ul.nav li {
    position: relative;
    display: inline-block;
    width: 18%;
    padding-bottom: 18%;
    margin-left: 6px;
    background: url('../IMG/STEP_AI_BOX_OFF.PNG') no-repeat;
    background-size: cover;
}

ul.nav li a img {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.btn_voca_map, .btn_see_recom {position: relative; position: absolute;width: 180px;bottom: 3.5%;right: 4%;display: none;}
.btn_voca_map img.active, .btn_see_recom img.active{position: absolute; left:0; top:0;}
.btn_voca_map.active, .btn_see_recom.active{display: block;}
.btn.active .active {display: inline-block; animation: blink-effect 1s step-end infinite;}
.btn.active.btn_border .active {display: inline-block; animation: none;}

@keyframes btnScale{ 100% {transform:scale(1.1);}}
@keyframes opacity{ 100% {transform:opacity(1);}}
@keyframes blink-effect { 50% {opacity: 0;}}
  
.right_sketch {
    display: none;
    width: 40vw;
    min-height: 33vw;
    position: relative;
    position: absolute;
    right: 6%;
    top: 53%;
    transform: translateY(-50%);
}

.sketch {width: 40vw;height: 100%;position: relative;overflow: hidden; display: none;}
.sketch_bg {position: absolute;width: 100%;height: 100%;z-index: 1;}
.sketch_bg span, .sketch_img_wrap span{display: block;}
.sketch_bg span.top{
    background: url('../IMG/ALL_BOX_TOP.PNG') no-repeat;
    width: 100%;
    height: 17px;
    background-size: cover; 
}
.sketch_bg span.mid{
    width: 100%;
    height: calc(100% - 34px);
    background: url('../IMG/ALL_BOX_MID.PNG') repeat-y;
    background-size: contain; 
    margin-top: -2px;
}
.sketch_bg span.bottom{
    width: 100%;
    height: 17px;
    background: url('../IMG/ALL_BOX_BOTTOM.PNG') no-repeat;
    background-size: contain; 
}
.sketch_img_wrap {
    background-color: #fff;
    height: calc(100% - 2px);
     -webkit-clip-path: polygon(18px 0, calc(100% - 18px) 0, 100% 18px, 100% calc(100% - 18px), calc(100% - 18px) calc(100% - 2px), 18px calc(100% - 2px), 0 calc(100% - 18px), 0 15px);
     clip-path: polygon(18px 0, calc(100% - 18px) 0, 100% 18px, 100% calc(100% - 18px), calc(100% - 18px) calc(100% - 2px), 18px calc(100% - 2px), 0 calc(100% - 18px), 0 15px);
}
.img_box {
    width: 100%;
    height: 29vw;
}    

.img_box + .txt_box{
    height: auto;
    color: #000;
    font-size: 27px;   
    font-weight: 500;
    /* padding: 0 6% 6%;
    letter-spacing: -0.5px;
    line-height: 1.25; */
    padding: 5% 7% 6%;
    letter-spacing: -0.5px;
    line-height: 1.3;
    /* white-space: pre-line; */
    word-break: keep-all;
    position: relative;
    bottom: 0;
}

.img_box + .txt_box > p {
    color:#0683d7;
    font-size: 26px;
    font-weight: 500;
    display: inline-block;
}

.img_box img {height: 100%;}
.left_map_wrap {
    position: relative;
    position: absolute;
    width: 50%;
    height: 75%;
    top: 23%;
    left: 2%;
}

.left_map {
    position: relative;
    position: absolute;
    width: 40vw;
    height: 40vw;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%) rotate(0);
}

.left_map > img{width: 100%; height: 100%;}
.left_map div.left_map_out {
    width: 33vw;
    height: 33vw;
    position: absolute;
    left: 8%;
    top: 10%;
}

.left_map div.left_map_out.guide {
    display: inline-block;
    animation: spin2 1s ease-in-out forwards;
    width: 33vw;
    height: 33vw;
    position: absolute;
    left: 8%;
    top: 10%;
}

.left_map div.left_map_out .out{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.left_map div.left_map_center {
    width: 19vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.center_word_wrap {
    position: absolute;
    transform: translate(-50%, -50%);
    left:50%;
    top:50%;
    opacity: 0;    
}

.center_mean {
    font-family: 'S-CoreDream-4Regular';
    font-size: 25px;
    color: #fff;
    font-weight: 400;
    display: inline-block;
    padding-right: 8px;
}

.center_sound {
    font-family: 'S-CoreDream-6Bold';
    font-size: 26px;
    color: #fff;
    display: inline-block;
}

.center_ch {width: 8.5vw;display: inline-block; text-align: center;}
.center_ch img {width: 100%;}
.center_ch img.drag{z-index: 9;}
.center_ch + div {padding-top: 8px;}
.drop {width: 16vw;height: 8vw;position: absolute;border-radius: 50px;bottom: 20%;right: 10%;}

.btn_sketch li{
    position: absolute;
    left:48%;
    top:50%;
    transform: translate(-50%, -50%);
    display: none;
}

.btn_sketch li a{display: block;}
.btn_sketch li:nth-child(1){margin-top: -70%;}
.btn_sketch li:nth-child(2){margin:36% 0 0 -60%;}
/* .btn_sketch li:nth-child(2){margin:37% 0 0 -56%;} */
.btn_sketch li:nth-child(3){margin:38% 0 0 62%;}

.top_word {
    background: url("../IMG/BG_ROUND_TOP.PNG") no-repeat;
    background-size: cover;
    width: 19vw;
    height: 11vw;
}

.left_word {top: 72%;left: -19%;width: 19vw;height: 11vw;}
.right_word {top: 72%;left: 66%;width: 19vw;height: 11vw;}

.btn_sketch li a {
    background: url("../IMG/BG_ROUND_WORD.PNG") no-repeat;
    background-size: cover;
}
.btn_sketch li a.on {
    background: url("../IMG/BG_ROUND_TOP.PNG") no-repeat;
    background-size: cover;
    animation: appear .7s forwards;
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
  }
@keyframes appear2 {
    from {display: none;}
    to {display: block;}
  }
ul.btn_sketch li a > span {
    font-family: 'S-CoreDream-6Bold';
    font-size: 34px;
    color: #000;
    display: inline-block;
    /* padding: 18%; */
    line-height: 4;
    letter-spacing: 2px;
}
ul.btn_sketch li:nth-child(1) a > span,
ul.btn_sketch li:nth-child(2) a > span,
ul.btn_sketch li:nth-child(3) a > span {display: none;}

ul.btn_sketch li:nth-child(1) a.on > span,
ul.btn_sketch li:nth-child(2) a.on > span,
ul.btn_sketch li:nth-child(3) a.on > span {display: inline-block;}

ul.btn_sketch li .drop_wrap span.txt_blank {
    font-family: 'S-CoreDream-6Bold';
    font-size: 34px;
    color: #fff;
    display: inline-block;
    padding-left: 5%;
    padding-top: 6%;
}
.pl_0 {padding-left: 0 !important;}
.drop_wrap {
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 16% 15%;
}

.drop_place {
    position: relative;
    display: inline-block;
    background: url("../IMG/TXT_BOX.PNG") no-repeat;
    background-size: cover;
    width: 4.5vw;
    height: 4.5vw;
    vertical-align: top;
}
.drop_place.drop_on {
    background-size: cover;
    width: 4.5vw;
    height: 4.5vw;
    animation: scale_image3 1.5s ease-in-out forwards;
}

.hand{position: absolute;left: 32%;top: 48%;width: 90px;display: none;}
.ex_word {position: absolute;left: 22.7%;top: 51%;width: 5vw;display: none;}

.hand.active{left: 26%;display: block;animation: btnScale2 1s ease forwards;}
.ex_word.active {display: block; animation: btnScale2 1s ease forwards;}
@keyframes btnScale2 {100% {transform:scale(.9);top: 27%;} }

.wheel[data-state] {transition: transform 1.5s ease-in-out; transform-origin: 50% 50%;}
.btn_sketch{
    width: 26vw;
    height: 26vw;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.wheel[data-state="1"] {transform:translate(-50%, -50%) rotate(0deg);}
.wheel[data-state="2"] {transform:translate(-50%, -50%) rotate(120deg);}
.wheel[data-state="3"] {transform:translate(-50%, -50%) rotate(-120deg);}
.wheel li{transition: transform 1.5s ease-in-out; transform-origin: 50% 50%;}
.wheel[data-state="1"] li{transform:translate(-50%, -50%) rotate(0deg);}
.wheel[data-state="2"] li{transform:translate(-50%, -50%) rotate(-120deg);}
.wheel[data-state="3"] li{transform:translate(-50%, -50%) rotate(120deg);}
div.ui-state-disabled.ui-draggable-disabled {opacity: 1;}
.section3 {
    background: url("../IMG/BG_VOCA_MAP.JPG") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    background-size:500%;
    transition: background-size 2.5s ease-in-out 0.5s;
    display: block;
}

.section3 .title, .section3-1 .title {
    background: url("../IMG/TITLE_VOCA_MAP.PNG") no-repeat;
    background-size: cover;
    width: 12vw;
    position: absolute;
    left: 6.5%;
    top: 5.5%;
    height: 4vw;
}
.section3.show {display: block; background-size:100%}

.intro_mindmap_wrap {height: 100%;}
.intro_mindmap_wrap .mindmap_wrap {width: 100%;height: 100%;position: relative;}

.intro_mindmap_wrap .mindmap_wrap.only2 {width: 50%;position: relative;display: inline-block;}
.intro_mindmap_wrap .mindmap_wrap.only2 li.mindmap_list1 {top: 25%;left: -6%;}
.intro_mindmap_wrap .mindmap_wrap.only2 li{width: 28%;}
.intro_mindmap_wrap .mindmap_wrap.only2 li.mindmap_list2 {top: 38%;left: 55%;}
.intro_mindmap_wrap .mindmap_wrap.only2 li.mindmap_line1 {left: 39%;width: 20%;}


.intro_mindmap_wrap .mindmap_wrap li {
    width: 24%;
    height: 37%;
    position: relative;
    position: absolute;
    display: none;
    transform: scale(0.8);
    transition: transform 0.5s ease-in;
}
.intro_mindmap_wrap .mindmap_wrap li.active{
    transform: scale(1);
}
.intro_mindmap_wrap .mindmap_wrap li.mindmap_list1{
    top: 25%;left: 8%;
    animation: btnScale 0.5s linear infinite alternate;
}
.intro_mindmap_wrap .mindmap_wrap li.mindmap_list2 {top: 38%;left: 38%;}
.intro_mindmap_wrap .mindmap_wrap li.mindmap_list3 {top: 19%;right: 6%;}

.bg_mm_word {position: absolute;left: 0;top: 0;width: 24vw;height: 24vw;}

.intro_mindmap_wrap .mindmap_wrap li.mindmap_list1 > .bg_mm_word > div.spin.active {  
    -webkit-animation:spin 4s linear infinite 0.5s;
    -moz-animation:spin 4s linear infinite 0.5s;
    animation:spin 4s linear infinite 0.5s;
    transform-origin: 50% 50%;
    animation-delay: 1.5s;
}

.intro_mindmap_wrap .mindmap_wrap li > .bg_mm_word > div:first-child {
    position: absolute;
    background: url("../IMG/MAP_WORD_1.PNG") no-repeat;
    width: 48vw;
    height: 48vw;
    top: -50%;
    left: -50%;
    background-size: cover;
}

.bg_mm_word > .btn_see_map {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    padding: 23% 20% 20% 20%;
}
.btn_see_map img {width: 10vw;}
.intro_mindmap_wrap .mindmap_wrap li.mindmap_line1, 
.intro_mindmap_wrap .mindmap_wrap li.mindmap_line2 {width: auto;height: auto !important;position: absolute !important;}

.intro_mindmap_wrap .mindmap_wrap li.mindmap_line1 img , 
.intro_mindmap_wrap .mindmap_wrap li.mindmap_line2 img {width: 100%;}

.intro_mindmap_wrap .mindmap_wrap li.mindmap_line1 {  
    top: 50%;
    left: 28.5%;
    width: 13%;
    transform: rotate(8deg);
}
.intro_mindmap_wrap .mindmap_wrap li.mindmap_line2 {  
    transform: rotate(-8deg);
    width: 15.5%;
    top: 44%;
    right: 26%;
}

@keyframes spin{
    0% {
    	transform: rotate(0deg);
    }
	100% {
        transform: rotate(360deg);
    }
}
@keyframes spin3{
    0% {
    	transform: rotate(0deg) scale(1.05);
    }
	100% {
        transform: rotate(720deg) scale(1);
    }
}
.section3-1 {
    background: url("../IMG/BG_VOCA_MAP_OPEN.JPG") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}
.map_txt_box {
    position: absolute;
    width: 32vw;
    height: 42px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6%;
    opacity:0;
}
.map_txt_box.moveUp {
    animation: moveUp .5s forwards;
}
@keyframes moveUp {
    from {bottom: -5.5%;opacity:0;}
    to {bottom: 0;opacity:1;}
}
/* @keyframes moveUp {
    from {opacity: 0;}
    to {opacity: 1;}
} */

.icon_wrap {
    width: auto;
    overflow: hidden;
    bottom: 5%;
    left: 4%;
    position: absolute;
    display: inline-block;
    opacity: 0;
}
.icon_wrap.opacity {animation: appear 0.4s forwards;}
.icon_wrap span {display: inline-block;}
.icon_simillar, .icon_antonym {display: inline-block;float: left;margin-right: 15px;}
.icon_simillar span:first-child,.icon_antonym span:first-child {width: 36px;}
.icon_simillar span:last-child, .icon_antonym span:last-child {
    font-family: 'S-CoreDream-4Regular';
    color: #fff;
    font-size: 18px;
    vertical-align: middle;
}

.button-next, .button-prev {font-size: 0;}
.button-prev {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 3vw;
    height: 5vw;
    transform: translateY(-50%);
    display: none;
}
.button-prev:after{
    content: "";
    display: block;
    background: url("../IMG/ARROW_PREV.PNG") no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}
.button-next {
    position: absolute;
    top: 49%;
    right: 4%;
    width: 4vw;
    height: 4vw;
    transform: translateY(-50%);
    display: none;
    animation: moveNext2 .5s ease-in-out infinite alternate;
    background: url("../IMG/ARROW_NEXT.PNG") no-repeat;
    background-size: contain;
}
@keyframes moveNext2 {
    from {right: 4%;}
    to {right: 3%;}
}

.word-prev {
    position: absolute;
    top: 46.5%;
    left: 9%;
    width: 4vw;
    height: 4vw;
    display: none;
}
.word-next {
    position: absolute;
    top: 46.5%;
    right: 9%;
    width: 4vw;
    height: 4vw;
}

.map_wrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.word_list {
    width: 100vw;
    height: 100%;
    position: relative;
    font-size: 0;
    transform: translateX(0);
    transition: transform 0.5s ease-in;
}

.word_map {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100vw;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    z-index: 1;
}
.word_map .center{
    transform: scale(0.35);
}
.word_map.active .center{transform: scale(1);opacity: 1;}

.btn_open{
    display: inline-block;
    width: 12vw;
    height: auto;
    position: absolute;
    z-index: 20;
    top: 31%;
    left: 33%;
}

.section3-1 .btn_open{
    display: inline-block;
    width: 14vw;
    height: auto;
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section3-1 .btn_open img.txt_yl {display: block;} 
.section3-1 .btn_open img.txt_w {display: none;}
.section3-1 .word_list .center_mean {font-size: 30px;}
.section3-1 .word_list .center_sound {font-size: 32px;}
.word_list .slide_word_bg {
    top: 23%;
    left: 30%;
    padding: 6% 5%;
    width: 40vw;
    height: 34vw;
    position: absolute;
}

.word_list li{z-index: 1;}
.word_list li.active{z-index: 3;}
/* .word_list li .slide_word_bg{transition: all 0.5s ease-in-out;} */
.word_list li.view{opacity: 1; }
/* transition: all 0.5s ease-in-out; */
.word_list li:not(.view){opacity: 0;}

.word_list li:nth-child(1) .slide_word_bg{left:30%}
.word_list li:nth-child(2) .slide_word_bg{left:30%;opacity: 0;}
.word_list li:nth-child(3) .slide_word_bg{left:30%;opacity: 0;}

.word_list li.active .slide_word_bg{left:30%;opacity: 1;}
.word_list li.prev_word .slide_word_bg{left:-9%;}
.word_list li.next_word .slide_word_bg{left: 69%;opacity: 0;}

.word_list li.next_word .slide_word_bg.changeColor,
.word_list li.prev_word .slide_word_bg.changeColor {opacity: 1;}


.word_list li.next_word .slide_word_bg.changeColor .btn_open .txt_w,
.word_list li.prev_word .slide_word_bg.changeColor .btn_open .txt_w {display: block;}

.word_list li.next_word .slide_word_bg.changeColor .btn_open .txt_yl,
.word_list li.prev_word .slide_word_bg.changeColor .btn_open .txt_yl {display: none;}


.word_list li .word_map_word_wrap{display: none;}
.word_list li.active .word_map_word_wrap{display: block;}
.word_map.active .slide_word_bg > div.icon_slide_center,
.word_map.active .slide_word_bg > div.icon_slide_out {opacity: 1;}
.word_list .slide_word_bg > div.icon_slide_center {
    position: absolute;
    background: url("../IMG/ICON_SLIDE_CENTER.PNG") no-repeat;
    width: 30vw;
    height: 30vw;
    top: 6%;
    left: 13%;
    background-size: contain;
    opacity: 0;
}
.word_list .slide_word_bg > div.icon_slide_out {
    position: absolute;
    background: url("../IMG/ICON_SLIDE_OUT.PNG") no-repeat;
    width: 37.5vw;
    height: 37.5vw;
    top: -6%;
    left: 4%;
    background-size: contain;
    opacity: 0;
}
.word_list .slide_word_bg.pre_opacity > div.icon_slide_center, 
.word_list .slide_word_bg.pre_opacity > div.icon_slide_out {
    animation: spin2 1s ease-in-out forwards;
}

.word_list .slide_word_bg.opacity > div.icon_slide_center, 
.word_list .slide_word_bg.opacity > div.icon_slide_out {
    animation: btnScale 0.5s linear infinite alternate;
}
.section3-1 .btn_open > div {opacity: 0;}
.section3-1 .word_list .center_mean, .section3-1 .word_list .center_sound {opacity: 0;}
.section3-1 .active .btn_open > div{opacity: 1;}
.section3-1 .active .btn_open .center_mean, .section3-1 .active .btn_open .center_sound {opacity: 1;}
.word_depth1 {position: absolute;width: 13vw;height: 13vw; opacity: 0; }
.word_depth2 {position: absolute;width: 10vw;height: 10vw;display: none;}
.word_depth3 {position: absolute;width: 9.5vw;height: 9.5vw;display: none;}
.word_depth1.on{transform: translate(0,0); transition: all 0.5s ease-in ;}

.word_level1-1.opacity {left: 54%;top: 70%;opacity: 1;}
.word_level1-2.opacity {left: 23.5%;top: 21%;opacity: 1;}
.word_level1-3.opacity {top: 18%;left: 63%;opacity: 1;}

.open_dep2::before {
    /* content:""; */
    position:absolute;
    background: url("../IMG/DEFAULT-WORD-ACTIVE.PNG") no-repeat;
    width: 12.2vw;
    height: 12.2vw;
    top: 6px;
    left: 6px;
    background-size: contain;
    position: absolute;
}
.open_dep2.active {
    animation: btnScale .5s linear infinite alternate;
}

.depth_line {position: absolute;width: 4vw;opacity: 0;}
.depth_line.opacity {animation: appear .5s forwards;}

.word_depth1 + .depth_line, .word_depth2 + .depth_line {background: url("../IMG/LEVEL3-LINE.PNG") no-repeat; background-size: contain;}
.bg_red + .depth_line {background: url("../IMG/LINE-RED.PNG") no-repeat;background-size: contain;}
.bg_green + .depth_line {background: url("../IMG/LINE-GREEN.PNG") no-repeat;background-size: contain;}
.bg_pur + .depth_line {background: url("../IMG/LINE-PURPLE.PNG") no-repeat;background-size: contain;}
.bg_blue + .depth_line {background: url("../IMG/LINE-BLUE.PNG") no-repeat;background-size: contain;}

.word_level1-1 + .depth_line {height: 5vw;bottom: 27%;left: 56%;transform: rotate(-30deg);}
.word_level1-2 + .depth_line {height: 6vw;top: 33%;left: 35%;transform: rotateZ(-60deg);}
.word_level1-3 + .depth_line {height: 7vw;top: 33%;left: 61.5%;transform: rotate(52deg);}

.word_level2-1 + .depth_line {width: 2vw;height: 3.5vw;bottom: 28%;left: 41%;transform: rotate(38deg);}
.word_level2-2 + .depth_line {width: 4vw;height: 4vw;bottom: 37%;left: 34.5%;transform: rotate(70deg);}
.word_level2-3 + .depth_line {width: 6vw;height: 7vw;bottom: 38%;left: 62%;transform: rotate(-64deg);}
.word_level2-4 + .depth_line {width: 5vw;height: 5vw;bottom: 68%;left: 49%;transform: rotate(0deg);}

.word_level3-2 + .depth_line {width: 3vw;height: 6vw;bottom: 33%;left: 25%;transform: rotate(-37deg);}
.word_level3-2.bg_green + .depth_line {width: 3vw;height: 2vw;bottom: 38%;left: 24%;transform: rotate(20deg);}

/* .word_level3-1 + .depth_line {width: 6vw;height: 6vw;top: 17%;left: 59.5%; transform: rotate(-3deg);} */
.word_level3-1 + .depth_line {width: 6vw;height: 6vw;top: 17%;left: 60%; transform: rotate(12deg);}

.word_level3-4 + .depth_line {width: 6vw;height: 6vw;top: 19%;left: 74%;transform: rotate(-7deg);}
.word_level3-4.bg_pur + .depth_line {width: 6vw;height: 6vw;top: 19%;left: 74.5%;transform: rotate(-51deg);}

.word_level3-6 + .depth_line {width: 4vw;height: 6vw;top: 30%;left: 74.5%;transform: rotate(0deg);}
.word_level3-6.bg_green + .depth_line {width: 4vw;height: 3vw;top: 30%;left: 74.4%;transform: rotate(38deg);}
.word_level3-7 + .depth_line {width: 3vw;height: 6vw;top: 36%;left: 69%;transform: rotate(52deg);}

.word_level3-3 + .depth_line {width: 5vw;height: 5vw;bottom: 14%;left: 65%;transform: rotate(18deg);}
.word_level3-5 + .depth_line {width: 3vw;height: 2vw;bottom: 19%;left: 32%;transform: rotate(-16deg);}
.word_level3-8 + .depth_line {width: 5vw;height: 3vw;top: 20%;left: 33%;transform: rotate(-24deg);}
.word_level3-8.bg_red + .depth_line {width: 5vw;height: 3vw;top: 19%;left: 26%;transform: rotate(33deg);}

.word_level3-9 + .depth_line {width: 3vw;height: 3vw;bottom: 13%;left: 52.5%;transform: rotate(-59deg);}
.word_level3-10 + .depth_line {width: 3vw;height: 3vw;bottom: 37%;left: 23.2%;transform: rotate(-40deg);}
.word_level3-11 + .depth_line {width: 3vw;height: 3vw;bottom: 37%;left: 23.2%;transform: rotate(-40deg);}

.word_depth3 > .depth_line {opacity: 1;}

.word_level2-1 {left: 33%;top: 68%;}
.word_level2-2 {left: 25.5%;top: 52%;}
.word_level2-3 {right: 24.5%;top: 55%;}
.word_level2-4 {right: 45%;top: 10%;}

.word_level3-1.opacity, .word_level3-4.opacity, .word_level3-6.opacity, .word_level3-7.opacity, .word_level3-8.opacity,
.word_level3-9.opacity, .word_level3-10.opacity, .word_level3-11.opacity{animation: appear .4s forwards;}

.word_level3-1.opacity {left: 53.5%;top: 8%;}
.word_level3-4.opacity {right: 13%;top: 11%;}
.word_level3-6.opacity {right: 14%;top: 27%;}
.word_level3-7.opacity {right: 22%;top: 38.5%;}
.word_level3-8.opacity {left: 35%;top: 10%;}
.word_level3-7,.word_level3-6,.word_level3-4,.word_level3-1, .word_level3-8, .word_level3-9, .word_level3-10, .word_level3-11{opacity: 0;}

.word_level3-2 {left: 16%;bottom: 32%;}
.word_level3-3 {right: 22%;bottom: 12%;}
.word_level3-4 {right: 13%;top: 11%;}
.word_level3-5 {left: 25%;bottom: 9%;}
.word_level3-8 {left: 35%;top: 10%;}
.word_level3-8.bg_red {left: 22%;top: 5%;}
.word_level3-9 {right: 46%;bottom: 6%;}
.word_level3-10 {left: 15%;bottom: 32%;}
.open_dep3.active {animation: btnScale 0.4s linear infinite alternate ;}

@keyframes scale_image {
    from {
        transform: scale(.8) translate(-50%, -50%);
    }
    to {
      transform: scale(1) translate(-50%, -50%);
    }
}
@keyframes scale_image2 {
    0% {opacity: 0}
    40% {opacity: 0;}
    80%{transform: scale(.8); opacity: 0;}
    100% {transform: scale(1); opacity: 1;}
}

@keyframes scale_image3 {
    0% {transform: scale(1);opacity: 1;}
    20% {transform: scale(1);opacity: 0;}
    50% {transform: scale(1);opacity: 1;}
    80% {transform: scale(1);opacity: 0;}
    100% {transform: scale(1); opacity: 1;}
}

.word_map a > span {
    font-family: 'S-CoreDream-6Bold';
    font-size: 21px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 100%;
    height: 100%;
    line-height: 6;
}

.word_map .word_depth1 > span {
    font-size: 30px;
    background: url("../IMG/ELLIPSE_DEEPBLUE.PNG") no-repeat;
    background-size: contain;
    line-height: 5.5;
}

.word_map .word_depth2 > span {background: url("../IMG/ELLIPSE_BLUE.PNG") no-repeat;background-size: cover;}
.word_map .bg_red > span {background: url("../IMG/ELLIPSE_RED.PNG") no-repeat;background-size: contain;}
.word_map .bg_green > span {background: url("../IMG/ELLIPSE_GREEN.PNG") no-repeat;background-size: contain;}
.word_map .bg_pur > span {background: url("../IMG/ELLIPSE_PURPLE.PNG") no-repeat;background-size: contain;}

.section4 {
    background: url("../IMG/BG_VOCA_RECOM_OPEN.JPG") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}

.section4.show {display: block;}

.section4 .title {
    background: url("../IMG/TITLE_RECOM.PNG") no-repeat;
    background-size: cover;
    width: 15vw;
    position: absolute;
    left: 6.5%;
    top: 5.5%;
    height: 4vw;
}

.section4 .recommand_bg {
    position: absolute;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 37vw;
    height: 37vw;
    padding: 14% 10%;
}

.section4 .recommand_bg::before {
    content: "";
    position: absolute;
    background: url(../IMG/ICON_RECOM.PNG) no-repeat;
    width: 40vw;
    height: 40vw;
    top: 0;
    left: 0;
    background-size: cover;
}

.section4 .recommand_bg::after {
    content: "";
    position: absolute;
    background: url(../IMG/ICON_RECOM_INNER.PNG) no-repeat;
    width: 32vw;
    height: 32vw;
    top: 10%;
    left: 10%;
    background-size: cover;
    position: absolute;
    transform: translate(-50%, -50%);
}

.section4 .recommand_bg.active::before {
    animation: spin2sp 2.5s ease-in-out forwards;
    width: 32vw;
    height: 32vw;
    top: 10%;
    left: 10%;
}
@keyframes spin2sp {
    0% {
        transform: rotate(0deg) scale(1.05);
        opacity: 1;
    }
    80% { opacity: 1;}
    90% { opacity: .5;}
    100% {
        transform: rotate(360deg) scale(1);
        opacity: 0;
    }
}
.section4 .recommand_bg.active::after {
    animation: spinCircle2sp 2.5s ease-in-out forwards;
    width: 26vw;
    height: 26vw;
    top: 18%;
    left: 18%;
}
@keyframes spinCircle2sp {
    0% {
        transform: rotate(360deg) scale(1.05);
        opacity: 1;
    }
    80% { opacity: 1;}
    90% { opacity: .5;}
    100% {
        transform: rotate(0deg) scale(1);
        opacity: 0;
    }
}
.section4 .recommand_bg.active .btn_open.noMove { animation: scale_image2 1.5s linear forwards alternate;}
.section4 .recommand_bg .btn_open {
    width: 11vw;
    height: auto;
    position: absolute;
    z-index: 20;
    top: 33%;
    left: 38.5%;
    opacity: 0;
}
.section4 .recommand_bg .btn_open.popWord{
    animation: appear .5s forwards;
}
.section4 .word_list .center_mean {font-size: 24px;}
.section4 .word_list .center_sound {font-size: 26px;}

@keyframes spin2 {
    from {
        transform: rotate(0deg) scale(1.05);
    }
    to {
        transform: rotate(360deg) scale(1);
    }
}

@keyframes spinCircle2 {
    from {
        transform: rotate(360deg) scale(1.05);
    }
    to {
        transform: rotate(0deg) scale(1);
    }
}

.btn_back_voca {position: absolute;width: 14vw;top: 3%;right: 22%;}
.btn_back_map {position: absolute;width: 12vw;top: 3%;right: 9%;}

.section4 .recommand_bg.changeCircle::before {
    content: "";
    position: absolute;
    background: url(../IMG/RECOM_OPEN_LAYER1.PNG) no-repeat;
    width: 32vw;
    height: 32vw;
    top: 10%;
    left: 10%;
    background-size: cover;
}

.section4 .recommand_bg.changeCircle::after {
    content: "";
    position: absolute;
    background: url(../IMG/RECOM_OPEN_LAYER2.PNG) no-repeat;
    width: 26vw;
    height: 26vw;
    top: 18%;
    left: 18%;
    background-size: cover;
    position: absolute;
    transform: translate(0, 0);
}

.diagonal {position: relative;position: absolute;width: 15vw;height: 15vw;opacity: 0;}
.ai_line {position: absolute;opacity: 0;}

.diagonal.opacity {animation: appear 1s forwards;}
.ai_line1.opacity {animation: appear 1s forwards;}
.ai_line2.opacity {animation: appear 1s forwards;animation-delay: 350ms;}
.ai_txt.opacity {animation: appear 1s forwards;animation-delay: 350ms;}

.right_top .diagonal {top: 19%;right: 11%;}
.right_bottom .diagonal {bottom: 10.5%;right: 11%;}

.left_top .diagonal {top: 19%;left: 13%;}
.left_bottom .diagonal {bottom: 11%;left: 13%;}

.left_top.thirdWheel .ai_line1 {top: 35%;}
.left_top.thirdWheel .ai_line2 {top:34.6%;}
.left_top.thirdWheel .info1 {top:38%;}
.left_top.thirdWheel .diagonal {top: 25%;}
/* .right_top .ai_line {top: 29%;left: 58%;}
.right_bottom .ai_line { bottom: 21%;left: 57.6%;}

.left_top .ai_line { top: 29%;right: 56%;}
.left_bottom .ai_line { bottom: 21%;right: 55.6%;} */
.right_top .ai_line1 {width: 7vw;top: 29%;left: 58%;}
.right_top .ai_line2 {    width: 12vw;
    left: 63.4%;
    top: 28.8%;}

.right_bottom .ai_line1 {width: 7vw;bottom: 23%;left: 57.5%;}
.right_bottom .ai_line2 {    width: 13vw;
    left: 62.8%;
    bottom: 22.7%;}

.left_top .ai_line1 {width: 7vw; top: 29%;right: 56%;}
.left_top .ai_line2 {width: 13vw; top: 28.6%;right: 61.2%;}

.left_bottom .ai_line1 {bottom: 23%;
    right: 55.8%;
    width: 7vw;}
.left_bottom .ai_line2 {    width: 13vw;
    right: 61.1%;
    bottom: 22.7%;}

.diagonal_word {
    width: 10vw;
    height: 8.5vw;
    position: relative;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.diagonal_word > div:first-child {top: 0;width: 5vw;}
.diagonal_word > div:last-child {bottom: 0%;width: 100%;}
.diagonal_word > div {position: absolute;left: 50%;transform: translateX(-50%);} 
.diagonal_word > div.img{
    position: relative;
    height: calc(100% - 26px);

}
.diagonal_word > div.img img{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.diagonal_word div .center_mean {font-size: 18px;}
.diagonal_word div .center_sound {font-size: 19px;}


.circle{display: none;}
.circle1{display: block;height: 100%;}
.next_page{
    position: absolute;
    right:2%;
    z-index: 10;
    top:50%;
    transform: translateY(-50%);
    background: url("../IMG/NEXT_ARROW.PNG") no-repeat;
    background-size: contain;
    display: none;
    width: 2%;
    height: 5%;
}
.next_page.remove_arrow {display: none;}
.next_page.move_next {animation: moveNext .5s ease-in-out infinite alternate;}
@keyframes moveNext {from {right: 2%;}to {right: 1.5%;}}

.ai_txt {
    font-family: 'S-CoreDream-4Regular';
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    display: inline-block;
    padding-right: 8px;
    position: absolute;
    opacity: 0;
}

.info1 {left: 29%;top: 31%;}
.info2 {right: 26%;top: 31%;}

.info3 {left: 29%;bottom: 25%;}
.info4 {right: 26%;bottom: 25%;}
#bgm {position: absolute;top: -100%;}

/* TEST  */
/* .section2,.section1{display: none !important;}
 .section3-1{display: block;}
 .intro_mindmap_wrap .mindmap_wrap li{display: block;} */
