#wrap {
    /* background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url(../IMG/BG.png); */
    width: 100%;
    height: 100%;
}

#wordWrap2,
#wordWrap {
    position: relative;
    position: fixed;
    z-index: 1;
}

#wordWrap .words-section,
#wordWrap2 .words-section {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

#wordWrap .words-section {
    display: flex;
}

.section {
    display: none;
    position: relative;
}
.section1 {
    display: block;
}

.section {
    background: transparent;
}
/* .pageWrap {display: none;} */
.pageWrap.on {
    display: block;
}
.section .pageContents {
    display: flex;
    width: 100%;
    height: 100%;
}
.section #canvasContainer {
    position: fixed;
    bottom: 23%;
    left: 50%;
    transform: translateX(-50%);
    width: 640px;
    height: 240px;
}
.section #canvasContainer canvas,
.canvas-container {
    width: 640px !important;
    height: 240px !important;
}

.answer2,
.answer {
    position: absolute;
    width: auto;
    height: 5.15%;
    display: inline-block;
    vertical-align: top;
    /* min-width:100px; */
    text-align: center;
    transition: background 1s;
    position: fixed;
}

.section .pageContents > div.answer:hover,
.section .pageContents > div.answer.hover,
.section .pageContents .science-wrap > div.answer:hover,
.section .pageContents .science-wrap > div.answer.hover,
.section .pageContents .science-wrap > div.answer2:hover,
.section .pageContents .science-wrap > div.answer2.hover {
    border: 2px solid #151b8a;
}

.answer div.word,
.answer2 div.word2 {
    position: relative;
    top: 50% !important;
    transform: translate(0, -50%);
    left: 0 !important;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 21px;
    font-weight: 800;
    color: transparent;
    width: auto;
    height: 100%;
}

.next-btn {
    background: url('../IMG/BTN_NEXT_UN.png') no-repeat;
    background-size: 100% 100%;
    opacity: 1;
    position: absolute;
    width: 110px;
    height: 110px;
    right: 34px;
    bottom: 14px;
    border: none;
}

.next-btn.active {
    background: url('../IMG/BTN_NEXT_EN.png') no-repeat;
    background-size: 100% 100%;
    position: fixed;
}
.next-btn.active::after {
    content: '';
    position: absolute;
    background: url('../IMG/BTN_DECO_YL.png') no-repeat;
    background-size: 100% 100%;
    width: 132px;
    height: 132px;
    top: -13px;
    left: -13px;
    /* -webkit-animation: blink 0.5s ease-in-out infinite alternate;
    -moz-animation: blink 0.5s ease-in-out infinite alternate; */
    animation: blink 0.7s ease-in-out infinite alternate;
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.done-btn {
    /* display: none; */
    position: absolute;
    width: 110px;
    right: 34px;
    bottom: 14px;
    background: none;
    border: none;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    text-align: center;
    opacity: 1;
    z-index: 1;
}
.next-btn.active,
.done-btn.active {
    opacity: 1;
}

/* 버튼 클릭시 파란 박스 안보이게 */
.next-btn:focus,
.done-btn:focus,
.next-btn:active,
.done-btn:active {
    -webkit-tap-highlight-color: transparent;
}

.next-btn img,
.done-btn img {
    width: 100%;
    left: 0;
}

.done-btn.active::after {
    content: '';
    position: absolute;
    left: -14px;
    top: -13px;
    width: 10vw;
    height: 10.1vw;
    background: url(../IMG/BTN_DECO_RD.png) no-repeat;
    background-size: 100% 100%;
    animation: blink 0.7s ease-in-out infinite alternate;
}

/* 나가기 팝업 */
.pop-wrapBg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.42);
    z-index: 100;
}
.pop-wrap {
    position: fixed;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
    width: 44%;
    /* height: 37%; */
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
    z-index: 101;
}
.pop-tit {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 500;
    background: #cbcbcb;
    color: #646464;
    letter-spacing: 3px;
    border-radius: 20px 20px 0 0;
}
.pop-inner {
    width: 100%;
    height: calc(100% - 50px);
    /* text-align: center; */
    /* padding: 5% 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 7%;
}
.pop-inner img {
    width: 100%;
}

.end-pop {
    width: 100%;
}

/* guide */
#guide.close {
    display: none;
}
#guide {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(36, 36, 36, 0.5);
}
#guide > div {
    position: fixed;
    z-index: 2;
}
.drag {
    display: flex;
    flex-direction: row;
    bottom: 4%;
    left: 9.9%;
    width: 40%;
}
.drag img {
    width: 137px;
    height: 216px;
}
.drag > div {
    position: relative;
    transform: translateY(-16.3%);
    width: calc(100% - 137px);
    height: fit-content;
}
.guide_answer {
    width: 28.5%;
    /* height: 23.1%; */
    height: 50px;
}
.desc {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: white;
    letter-spacing: -0.3px;
}
.drag .desc {
    margin-top: 6px;
    width: 100%;
    line-height: 1.6;
}
.drag .nbsp {
    padding-left: 26.5%;
}
.pinchZoom .desc {
    line-height: 1.25;
}
.pinchZoom {
    position: relative;
    left: 49.9%;
    top: 57.2%;
    margin-left: 8.1%;
}
.desc em {
    color: #f38204;
}
.desc span {
    margin: 0 5px;
}
.arrow-wrap {
    position: fixed;
    width: 400px;
    display: flex;
    align-items: center;
}
.arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    left: 15%;
    transform: rotate(-33deg);
    width: 400px;
}
.arrow .arrow-bar {
    width: 150px;
    /* width: 320px; */
    height: 7px;
    background: linear-gradient(to right, #ffb869, #f38204);
    border-radius: 3px;
}
.arrow-bar.on {
    animation: pinchzoom 4s forwards ease-in-out;
}
/* @keyframes pinchzoom {
    0%, 45%, 50%, 95%, 100%{width: 150px;}
    20%, 25%, 70%, 75%{width: 320px;}
} */
@keyframes pinchzoom {
    0%,
    50%,
    100% {
        width: 150px;
    }
    20%,
    25%,
    75%,
    80% {
        width: 320px;
    }
}
.arrow > img {
    width: 25px;
    position: relative;
}
.arrow > img:first-child {
    transform: translateX(70%);
}
.arrow > img:last-child {
    transform: translateX(-70%);
}
.hand_icon {
    position: absolute;
    width: 9%;
    left: 50%;
    top: 9%;
}
.hand_icon img {
    width: 100%;
}
#wordWrap2.dimmed,
#wordWrap.dimmed {
    z-index: 1;
}

header > div.left .title > div.new-title {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 29px;
    font-weight: 800;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    letter-spacing: -1.5px;
}

/* 낱말꾸미기 추가 css */
.section1 {
    background: url(../IMG/BG_1.png) no-repeat;
    background-size: 100% 100%;
}
.section2 {
    background: url(../IMG/BG_2.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.section3 {
    background: url(../IMG/BG_3.png) no-repeat;
    background-size: 100% 100%;
}
header {
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}
.indicate {
    background: url(../IMG/BG_INDICATOR.png) no-repeat;
    background-size: contain;
    width: 276px;
    height: 80px;
    position: absolute;
    right: 160px;
    top: 0;
}
.indicate .pagingItemWrap {
    padding: 14px 40px 0;
    display: flex;
    justify-content: space-around;
}
.indicate .pagingItemWrap li {
    background: url(../IMG/ICON_CANDY_OFF.png) no-repeat;
    background-size: cover;
    width: 34px;
    height: 40px;
}
.indicate .pagingItemWrap li.on {
    background: url(../IMG/ICON_CANDY_ON.png) no-repeat;
    background-size: cover;
    width: 34px;
    height: 40px;
}

canvas {
    /* position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 200px;
    width: calc(100% - 266px);
    height: 45%; */
    border: 1px solid #000;
}
.color-palette {
    background: url(../IMG/BG_PALETTE.png) no-repeat;
    background-size: cover;
    height: 55px;
    width: calc(100% - 380px);
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    display: flex;
    justify-content: center;
}
.color-items {
    /* bottom: 0;
    position: absolute; */
    display: flex;
    /* left: 74px; */
}

.color-option,
.color-option-random {
    width: 65px;
    height: 50px;
    margin-right: 30px;
    position: relative;
    bottom: 27px;
}
.color-option-random {
    margin-left: 20px;
}
.color-option:last-child {
    margin-right: 0;
}

.color-option.active,
.color-option-random.active {
    bottom: 70px;
    animation: fadeInUp 0.3s;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.bin-btn {
    width: 84px;
    height: 100px;
    bottom: 50px;
    position: relative;
    background: url('../IMG/ICON_BIN_UN.png') no-repeat;
    background-size: cover;
    margin-left: 50px;
}
.bin-btn.active {
    background: url('../IMG/ICON_BIN_EN.png') no-repeat;
    background-size: cover;
}
.color-option img,
.color-option-random img {
    width: 100%;
}

.color-palette.glory .color-option::after {
    content: '';
    position: absolute;
    background: url('../IMG/PEN_DECO.png') no-repeat;
    background-size: 100% 100%;
    width: 104px;
    height: 106px;
    bottom: -40px;
    left: -20px;
    z-index: -1;
    animation: blink 0.7s ease-in-out infinite alternate;
}

.section1 .item-img {
    width: 330px;
    height: 280px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.section2 .item-img {
    /* width: 310px;
    height: 260px; */
    width: 26%;
    height: 36%;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.section3 .item-img {
    width: 30%;
    height: 40%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.item-word {
    /* height: 186px; */
    min-width: 30%;
    max-width: 45%;
    height: 20%;
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.section3 .item-word {
    bottom: 20%;
}

.item-img img,
.item-word img {
    width: 100%;
    height: 100%;
}

.answer-list {
    background: url(../IMG/BG_BAR.png) no-repeat;
    background-size: 100% 100%;
    position: fixed;
    width: 60.5%;
    height: 17.2%;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    display: flex;
    padding: 0 20px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.answer-list .wordsBox {
    width: 25%;
}

.answer-list .answer-item {
    /* width: 25%; */
    z-index: 999 !important;
}
.answer-list .answer-item img {
    height: 100%;
}

.stick-panel,
.stick-panel-2 {
    background: url(../IMG/BG_PANNEL.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    width: 81.5%;
    height: 71.87%;
    left: 50%;
    top: 45px;
    transform: translateX(-50%);
}

.stick-panel-2 .answer {
    animation: introAni1 1s infinite;
}

.answerCont {
    position: absolute;
    width: 200px;
    height: 200px;
}

.answerCont .answer {
    position: static;
    width: 100%;
    height: 100%;
}

.answer img {
    width: 100%;
    height: 100%;
    position: absolute;
    width: auto;
    top: 0;
    left: 0;
}
.blink_img {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.blink_img img {
    width: 100%;
    height: 100%;
}

.answerCont.active .blink_img {
    display: block;
    animation: blink 0.7s ease-in-out infinite alternate;
}

.section3 .pageContents {
    flex-wrap: wrap;
    padding: 3.7% 6.3% 7%;
    justify-content: space-between;
}
.section3 .pageContents > div.stick-panel-2 {
    width: 49%;
    height: 50%;
    margin: 0 10px 10px 0;
    left: auto;
    top: auto;
    transform: inherit;
}

.section3 .pageContents > div.stick-panel-2:nth-child(2n) {
    margin: 0 0 10px 0;
}

.section3 .pageContents > div.stick-panel-2 .answer {
    position: absolute;
}

.confetti-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}

.deco-img {
    width: 100%;
    /* width: 417px; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
}

.confetti-wrap.animation {
    display: block;
}

.confetti-wrap.animation .deco-img {
    opacity: 1;
    /* animation: 0.4s 1s forwards; */
}

@keyframes fadeIn4 {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes up {
    0% {
        opacity: 0;
        transform: translateY(-1280px);
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
    }
}

.animation {
    animation-name: up;
    animation-duration: 1.5s;
    /* animation-iteration-count: infinite; */
    animation-timing-function: ease-in-out;
}

#introBg {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    /* animation: fadeout 1s;
    animation-fill-mode: forwards; */
}
#introBg .bg {
    width: 100%;
}

#introBg .intro_tit {
    width: 38%;
    position: absolute;
    top: 31%;
    left: 51%;
    transform: translateX(-50%);
    z-index: 2;
}
#introBg .introIcon {
    position: absolute;
    transform: rotate(0deg);
}

#introBg .introAni1 {
    animation: introAni1 1s infinite;
}
#introBg .introAni2 {
    animation: introAni2 1s infinite;
}

#introBg .introIcon1 {
    width: 235px;
    top: 11%;
    left: 45%;
}
#introBg .introIcon2 {
    width: 113px;
    top: 29%;
    left: 22%;
}
#introBg .introIcon3 {
    width: 100px;
    top: 34%;
    left: 70%;
}
#introBg .introIcon4 {
    width: 150px;
    top: 56%;
    left: 12%;
}
#introBg .introIcon5 {
    width: 134px;
    top: 61%;
    left: 77%;
}

@keyframes introAni1 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes introAni2 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#colorGuide {
    position: fixed;
    bottom: 0;
    left: 0;
    /* z-index: 2; */
    width: 100%;
    height: 20%;
    display: inline-block;
}
/* #dropGuide {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: inline-block;
} */

#colorGuide.close,
#dropGuide.close {
    display: none;
}

.colorGuide {
    width: 12%;
    height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 26%;
    animation: loop 3s infinite;
    /* animation-duration: 1.5s; */
    /* animation-iteration-count: infinite; */
}

.dropGuide {
    width: 12%;
    height: 20%;
    display: inline-block;
    position: absolute;
    bottom: -25px;
    left: 20%;
    z-index: 2;
    animation: loopHorizon 2s infinite;
}

@keyframes loop {
    0% {
        bottom: -25px;
        left: 20%;
    }
    50% {
        bottom: -25px;
        left: 55%;
    }
    100% {
        bottom: -25px;
        left: 20%;
    }
}

@keyframes loopHorizon {
    0% {
        bottom: 0%;
        left: 28%;
    }
    50% {
        bottom: 55%;
        left: 26%;
    }
    100% {
        bottom: 60%;
        left: 26%;
    }
}

.colorGuide img,
.dropGuide img {
    width: 100%;
    height: 100%;
}
